body {
  background: #0A0908;
}

h1 {
  color: green;
}

.custom {
  margin-top: 20px;
  padding-top: 20px;
  border: 1px solid #5E503F;
  width: 70%;
  border-radius: 22px;
  background-color: #A9927D;
}

.link-box {
  margin-top: 10px;
  border: 1px solid #818c8b;
  width: 70%;
  border-radius: 10px;
  background: #fff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.crop {
  margin-top: 10px;
}

.upload_items {
  margin-top: 13px;
  margin-left: -25px;
}

.items {
  margin-top: 15px;
}

li {
  list-style: none;
  color: white;
}

button {
  margin-top: 5px;
  background-color: #F2F4F3;
}
.rd_btn {
  position: absolute;
  margin-left: -45px;
}

input[type=file] {
  width: 100%;
}

input[type=text] {
  width: 100%;
}

img {
    width: 100%;
    margin: auto;
    display: block;
    margin-bottom: 10px;
}
