body {
  background: #0A0908;
}

.custom {
  margin-top: 20px;
  padding-top: 20px;
  border: 1px solid #5E503F;
  width: 70%;
  border-radius: 22px;
  background-color: #A9927D;
}

.link-box {
  margin-top: 10px;
  border: 1px solid #818c8b;
  width: 70%;
  border-radius: 10px;
  background: #fff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

button {
  margin-top: 5px;
  background-color: #F2F4F3;
}

input {
  width: 100%;

#app {
    text-align: center;
}

img {
    width: 30%;
    margin: auto;
    display: block;
    margin-bottom: 10px;
  }

button {

}
