<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv=”Pragma” content=”no-cache”>
    <meta http-equiv=”Expires” content=”-1″>
    <meta http-equiv=”CACHE-CONTROL” content=”NO-CACHE”>
    <title>Give Me Something</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('service.static', filename='css/style.css') }}" charset="utf-8">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.12/vue.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </script>
</head>

<body>
    <div class="container custom">
        <form class="form-group" action="{{ url_for('service.service_ui') }}" method="post">
            <input class="col-md-12" type="text" name="url" value="" placeholder="Input URL">
            <br>
            <input class="col-md-12" type="text" name="name" value="" placeholder="Input New Name">
            <div class="">
                <button class="btn btn-active" type="submit" name="submit">SUBMIT</button>
            </div>
        </form>
    </div>

    <hr>

    <div class="container">
        <div id="file-list">
            <div class="input-group">
                <input type="file" v-model='newFileText'>
                <button type="button" name="button" @click="addNewFile">Save</button>
            </div>

            <ul class="items">
                <li is="file-item" v-for="(filename, index) in files" v-bind:title="index" v-on:remove="files.splice(index, 1)"></li>
            </ul>
        </div>
    </div>


    <hr>
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
            <input type="file" id="input" onchange="reader.readAsDataURL(this.files[0])">
            <label class="radio-inline"><input TYPE="Radio" Name="process" Value="sharpen" class="rd_btn">Sharpen</label>
            <label class="radio-inline"><input TYPE="Radio" Name="process" Value="solarize" class="rd_btn">Solarize</label>
            <div class="crop">
                <p>Crop Image</p>
                <input type="text" id="cropWidth" placeholder="Width">
                <input type="text" id="cropHeight" placeholder="Height">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h1>Original</h1>
                <img id="original" class="img-responsive">
            </div>
            <div class="col-sm-6">
                <h1>Processed</h1>
                <canvas id="canvas" hidden></canvas>
                <canvas id="output"></canvas>
            </div>
        </div>
    </div>

    {% if session %}
    <div class="container link-box">
        <a href="{{ session['link'] }}">{{ session['link'] }}</a>
    </div>
    {% endif %}

    <script src="{{ url_for('service.static', filename='js/grafi.js') }}"></script>
    <script src="{{ url_for('service.static', filename='js/image_processor.js') }}"></script>
    <script src="{{ url_for('service.static', filename='js/upload_multi.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('input[type=file]').change(function() {
                var val = $(this).val().toLowerCase();
                var regex = new RegExp("(.*?)\.(docx|doc|pdf|xml|bmp|ppt|xls|png|jpg|jpeg)$");
                if (!(regex.test(val))) {
                    $(this).val('');
                    alert('Please select correct file format');
                }
            });
        });
    </script>

</body>

</html>
